@model List<Slider>
@{
    ViewData["Title"] = "Admin - Sliders";
    int count = 1;
}

<div class="container">
    <div class="row pt-5">
        <div class="card-header d-flex justify-content-between">
            <h3>Sliders</h3>
            <div>
                <a class="btn btn-success">Create</a>
            </div>
           
        </div>
    </div>
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Accented Table</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    
                    <th scope="col">Name</th>
               
             
                    <th scope="col">Price</th>
                  
             
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.MainTitle</td>
                    <td>@item.Price</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Detail" asp-route-Id="@item.Id"><i class="bi bi-three-dots"></i></a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-Id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                    </td>
                  
                </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>

</div>